<div class="table-container">
  <div class="table-header">
    <h2>Servicios</h2>
  </div>

  <div class="loading-shade" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="no-data" *ngIf="!loading && dataSource.length === 0">
    <p>No se encontraron servicios. ¡Crea tu primer servicio!</p>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let service">
          <a [routerLink]="['/services', service.id]" class="service-link">
            {{ service.name }}
          </a>
        </td>
      </ng-container>


      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let service">{{ service.description }}</td>
      </ng-container>


      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let service">${{ service.price | number:'1.2-2' }}</td>
      </ng-container>


      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duración (min)</th>
        <td mat-cell *matCellDef="let service">{{ service.duration }}</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let service">
          <button mat-icon-button color="primary" [routerLink]="['/services', service.id]" matTooltip="Ver detalles">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteService(service.id!.toString())"
            matTooltip="Eliminar servicio">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button mat-raised-button color="accent" routerLink="/services/new" class="add-button">
      <mat-icon>add</mat-icon>
      <span>Crear Servicio</span>
    </button>
  </div>
</div>